@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');

/* Navbar */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 25px 0 black;
  position: relative;
}

label.logo {
  line-height: 106px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #540606;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover {
  color: #BA5000;
}

.checkbtn {
  font-size: 30px;
  color: #540606;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px){
  label.logo{
    width: 40px;
    line-height: 105px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }

  a:hover,a.active {
    background: none;
    color:#BA5000;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* Gallery */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  position: relative;
}

.gallery{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  border: 1rem solid #ffffff;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5 rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.0rem;
  grid-template-areas: 
  'img-161 img-162 img-163 img-163'
  'img-161 img-164 img-165 img-166'
  'img-167 img-167 img-168 img-166'
  'img-169 img-170 img-171 img-171'
  'img-169 img-171 img-172 img-173'
  'img-174 img-174 img-175 img-173'
  'img-176 img-177 img-178 img-178'
  'img-176 img-179 img-180 img-181'
  'img-182 img-182 img-183 img-181'
  'img-184 img-185';
  
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i{
  color: rgba(255, 255, 255, .6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255,255,255, .6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:  rgba(0,0,0,.8);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover i, 
.image-gallery a:hover::before{
  opacity: 1;
}

.img-161 {
  grid-area: img-161;
  min-height: 51.5rem;
  background-image: url("../img/work/161.jpg");
}

.img-162 {
  grid-area: img-162;
  background-image: url("../img/work/162.jpg");
}

.img-163 {
  grid-area: img-163;
  background-image: url("../img/work/163.jpg");
}

.img-164 {
  grid-area: img-164;
  background-image: url("../img/work/164.jpg");
}

.img-165 {
  grid-area: img-165;
  background-image: url("../img/work/165.jpg");
}

.img-166 {
  grid-area: img-166;
  min-height: 51.5rem;
  background-image: url("../img/work/166.jpg");
}

.img-167 {
  grid-area: img-167;
  background-image: url("../img/work/167.jpg");
}

.img-168 {
  grid-area: img-168;
  background-image: url("../img/work/168.jpg");
}

.img-169 {
  grid-area: img-169;
  min-height: 51.5rem;
  background-image: url("../img/work/169.jpg");
}

.img-170 {
  grid-area: img-170;
  background-image: url("../img/work/170.jpg");
}

.img-171 {
  grid-area: img-171;
  background-image: url("../img/work/171.jpg");
}

.img-172 {
  grid-area: img-172;
  background-image: url("../img/work/172.jpg");
}

.img-173 {
  grid-area: img-173;
  background-image: url("../img/work/173.jpg");
}

.img-174 {
  grid-area: img-174;
  min-height: 51.5rem;
  background-image: url("../img/work/174.jpg");
}

.img-175 {
  grid-area: img-175;
  background-image: url("../img/work/175.jpg");
}

.img-176 {
  grid-area: img-176;
  background-image: url("../img/work/176.jpg");
}

.img-177 {
  grid-area: img-177;
  min-height: 51.5rem;
  background-image: url("../img/work/177.jpg");
}

.img-178 {
  grid-area: img-178;
  background-image: url("../img/work/178.jpg");
}

.img-179 {
  grid-area: img-179;
  background-image: url("../img/work/179.jpg");
}

.img-180 {
  grid-area: img-180;
  background-image: url("../img/work/180.jpg");
}

.img-181 {
  grid-area: img-181;
  background-image: url("../img/work/181.jpg");
}

.img-182 {
  grid-area: img-182;
  min-height: 51.5rem;
  background-image: url("../img/work/182.jpg");
}

.img-183 {
  grid-area: img-183;
  background-image: url("../img/work/183.jpg");
}

.img-184 {
  grid-area: img-184;
  background-image: url("../img/work/184.jpg");
}

.img-185 {
  grid-area: img-185;
  min-height: 51.5rem;
  background-image: url("../img/work/185.jpg");
}


@media screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas: 
    'img-161 img-161 img-162 img-162'
    'img-161 img-161 img-163 img-163'
    'img-164 img-164 img-165 img-165'
    'img-166 img-167 img-167 img-167'
    'img-168 img-168 img-168 img-168'
    'img-169 img-169 img-170 img-170'
    'img-169 img-169 img-171 img-171'
    'img-172 img-172 img-173 img-173'
    'img-174 img-175 img-175 img-175'
    'img-176 img-176 img-176 img-176'
    'img-177 img-177 img-178 img-178'
    'img-177 img-177 img-179 img-179'
    'img-180 img-180 img-181 img-181'
    'img-182 img-183 img-183 img-183'
    'img-184 img-184 img-185 img-185'
    ;
  }

  .image-gallery a{
    height: 20rem;
  }

  .img-161{
    min-height: 41.5rem;
  }

  .img-166{
    min-height: 20rem;
  }

  .img-169{
    min-height: 41.5rem;
  }

  .img-174{
    min-height: 20rem;
  }

  .img-177{
    min-height: 41.5rem;
  }

  .img-182{
    min-height: 20rem;
  }

  .img-185{
    min-height: 41.5rem;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery {
    grid-template-areas: 
    'img-161 img-161 img-161 img-161'
    'img-162 img-162 img-162 img-162'
    'img-163 img-163 img-163 img-163'
    'img-164 img-164 img-164 img-164'
    'img-165 img-165 img-165 img-165'
    'img-166 img-166 img-166 img-166'
    'img-167 img-167 img-167 img-167'
    'img-168 img-168 img-168 img-168'
    'img-169 img-169 img-169 img-169'
    'img-170 img-170 img-170 img-170'
    'img-171 img-171 img-171 img-171'
    'img-172 img-172 img-172 img-172'
    'img-173 img-173 img-173 img-173'
    'img-174 img-174 img-174 img-174'
    'img-175 img-175 img-175 img-175'
    'img-176 img-176 img-176 img-176'
    'img-177 img-177 img-177 img-177'
    'img-178 img-178 img-178 img-178'
    'img-179 img-179 img-179 img-179'
    'img-180 img-180 img-180 img-180'
    'img-181 img-181 img-181 img-181'
    'img-182 img-182 img-182 img-182'
    'img-183 img-183 img-183 img-183'
    'img-184 img-184 img-184 img-184'
    'img-185 img-185 img-185 img-185'
    ;
  }

  .image-gallery a,
  .img-161,
  img-166,
  .img-169,
  img-174,
  .img-177,
  img-182,
  .img-185{
    min-height: 30rem;
    height: 30rem;
  }
}

/**** Pagination ****/

.page-container{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.pagination {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-bottom: 10px;
}

.pagination a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color:#540606;;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #BA5000;
  color: white;
}

.pagination a:hover:not(.active) {color:#BA5000;}

/**** Footer BEGINS ****/

.footer {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #18181a;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .logo_container img {
  width: 175px;
  height: auto;
}

.inner_footer .footer_third {
  width: calc(21.6666666667% - 20px);
  margin-right: 20px;
  float: left;
  height:100%;
}

.inner_footer .footer_third: last-child {
  margin-right: 0;
}

.inner_footer .footer_third h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color:#ffffff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}

.inner_footer .footer_third li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 800px) {
  .footer .inner_footer {
    width: 90%;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 45px;
  }
} 

@media(max-width: 600px) {
  .footer .inner_footer {
    width: 90%;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 30px;
  }
}

/**** Footer ENDS ****/