@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');

/* Navbar */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 25px 0 black;
  position: relative;
}

label.logo {
  line-height: 106px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #540606;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover {
  color: #BA5000;
}

.checkbtn {
  font-size: 30px;
  color: #540606;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px){
  label.logo{
    width: 40px;
    line-height: 105px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }

  a:hover,a.active {
    background: none;
    color:#BA5000;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* Gallery */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  position: relative;
}

.gallery{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  border: 1rem solid #ffffff;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5 rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.0rem;
  grid-template-areas: 
  'img-97 img-98 img-99 img-99'
  'img-97 img-100 img-101 img-102'
  'img-103 img-103 img-104 img-102'
  'img-105 img-106 img-107 img-107'
  'img-105 img-108 img-109 img-110'
  'img-111 img-111 img-112 img-110'
  'img-113 img-114 img-115 img-115'
  'img-113 img-116 img-117 img-118'
  'img-119 img-119 img-120 img-118'
  'img-121 img-122 img-123 img-123'
  'img-121 img-124 img-125 img-126'
  'img-127 img-127 img-128 img-126';
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i{
  color: rgba(255, 255, 255, .6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255,255,255, .6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:  rgba(0,0,0,.8);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover i, 
.image-gallery a:hover::before{
  opacity: 1;
}

.img-97 {
  grid-area: img-97;
  min-height: 51.5rem;
  background-image: url("../img/work/97.jpg");
}

.img-98 {
  grid-area: img-98;
  background-image: url("../img/work/98.jpg");
}

.img-99 {
  grid-area: img-99;
  background-image: url("../img/work/99.jpg");
}

.img-100 {
  grid-area: img-100;
  background-image: url("../img/work/100.jpg");
}

.img-101 {
  grid-area: img-101;
  background-image: url("../img/work/101.jpg");
}

.img-102 {
  grid-area: img-102;
  min-height: 51.5rem;
  background-image: url("../img/work/102.jpg");
}

.img-103 {
  grid-area: img-103;
  background-image: url("../img/work/103.jpg");
}

.img-104 {
  grid-area: img-104;
  background-image: url("../img/work/104.jpg");
}

.img-105 {
  grid-area: img-105;
  min-height: 51.5rem;
  background-image: url("../img/work/105.jpg");
}

.img-106 {
  grid-area: img-106;
  background-image: url("../img/work/90.jpg");
}

.img-107 {
  grid-area: img-107;
  background-image: url("../img/work/107.jpg");
}

.img-108 {
  grid-area: img-108;
  background-image: url("../img/work/108.jpg");
}

.img-109 {
  grid-area: img-109;
  background-image: url("../img/work/109.jpg");
}

.img-110 {
  grid-area: img-110;
  min-height: 51.5rem;
  background-image: url("../img/work/110.jpg");
}

.img-111 {
  grid-area: img-111;
  background-image: url("../img/work/111.jpg");
}

.img-112 {
  grid-area: img-112;
  background-image: url("../img/work/112.jpg");
}

.img-113 {
  grid-area: img-113;
  min-height: 51.5rem;
  background-image: url("../img/work/113.jpg");
}

.img-114 {
  grid-area: img-114;
  background-image: url("../img/work/114.jpg");
}

.img-115 {
  grid-area: img-115;
  background-image: url("../img/work/115.jpg");
}

.img-116 {
  grid-area: img-116;
  background-image: url("../img/work/116.jpg");
}

.img-117 {
  grid-area: img-117;
  background-image: url("../img/work/117.jpg");
}

.img-118 {
  grid-area: img-118;
  min-height: 51.5rem;
  background-image: url("../img/work/118.jpg");
}

.img-119 {
  grid-area: img-119;
  background-image: url("../img/work/119.jpg");
}

.img-120 {
  grid-area: img-120;
  background-image: url("../img/work/120.jpg");
}

.img-121 {
  grid-area: img-121;
  min-height: 51.5rem;
  background-image: url("../img/work/121.jpg");
}

.img-122 {
  grid-area: img-122;
  background-image: url("../img/work/112.jpg");
}

.img-123 {
  grid-area: img-123;
  background-image: url("../img/work/123.jpg");
}

.img-124 {
  grid-area: img-124;
  background-image: url("../img/work/124.jpg");
}

.img-125 {
  grid-area: img-125;
  background-image: url("../img/work/125.jpg");
}

.img-126 {
  grid-area: img-126;
  min-height: 51.5rem;
  background-image: url("../img/work/126.jpg");
}

.img-127 {
  grid-area: img-127;
  background-image: url("../img/work/127.jpg");
}

.img-128 {
  grid-area: img-128;
  background-image: url("../img/work/128.jpg");
}

@media screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas: 
    'img-97 img-97 img-98 img-98'
    'img-97 img-97 img-99 img-99'
    'img-100 img-100 img-101 img-101'
    'img-102 img-103 img-103 img-103'
    'img-104 img-104 img-104 img-104'
    'img-105 img-105 img-106 img-106'
    'img-105 img-105 img-107 img-107'
    'img-108 img-108 img-109 img-109'
    'img-110 img-111 img-111 img-111'
    'img-112 img-112 img-112 img-112'
    'img-113 img-113 img-114 img-114'
    'img-113 img-113 img-115 img-115'
    'img-116 img-116 img-117 img-117'
    'img-118 img-119 img-119 img-119'
    'img-120 img-120 img-120 img-120'
    'img-121 img-121 img-122 img-122'
    'img-121 img-121 img-123 img-123'
    'img-124 img-124 img-125 img-125'
    'img-126 img-127 img-127 img-127'
    'img-128 img-128 img-128 img-128'
    ;
  }

  .image-gallery a{
    height: 20rem;
  }

  .img-97{
    min-height: 41.5rem;
  }

  .img-102{
    min-height: 20rem;
  }

  .img-105{
    min-height: 41.5rem;
  }

  .img-110{
    min-height: 20rem;
  }

  .img-113{
    min-height: 41.5rem;
  }

  .img-118{
    min-height: 20rem;
  }

  .img-121{
    min-height: 41.5rem;
  }

  .img-126{
    min-height: 20rem;
  }

}

@media screen and (max-width: 600px) {
  .image-gallery {
    grid-template-areas: 
    'img-97 img-97 img-97 img-97'
    'img-98 img-98 img-98 img-98'
    'img-99 img-99 img-99 img-99'
    'img-100 img-100 img-100 img-100'
    'img-101 img-101 img-101 img-101'
    'img-102 img-102 img-102 img-102'
    'img-103 img-103 img-103 img-103'
    'img-104 img-104 img-104 img-104'
    'img-105 img-105 img-105 img-105'
    'img-106 img-106 img-106 img-106'
    'img-107 img-107 img-107 img-107'
    'img-108 img-108 img-108 img-108'
    'img-109 img-109 img-109 img-109'
    'img-110 img-110 img-110 img-110'
    'img-111 img-111 img-111 img-111'
    'img-112 img-112 img-112 img-112'
    'img-113 img-113 img-113 img-113'
    'img-114 img-114 img-114 img-114'
    'img-115 img-115 img-115 img-115'
    'img-116 img-116 img-116 img-116'
    'img-117 img-117 img-117 img-117'
    'img-118 img-118 img-118 img-118'
    'img-119 img-119 img-119 img-119'
    'img-120 img-120 img-120 img-120'
    'img-121 img-121 img-121 img-121'
    'img-122 img-122 img-122 img-122'
    'img-123 img-123 img-123 img-123'
    'img-124 img-124 img-124 img-124'
    'img-125 img-125 img-125 img-125'
    'img-126 img-126 img-126 img-126'
    'img-127 img-127 img-127 img-127'
    'img-128 img-128 img-128 img-128'
    ;
  }

  .image-gallery a,
  .img-97,
  img-102,
  .img-105,
  img-110,
  .img-113,
  img-118,
  .img-121,
  img-126 {
    min-height: 30rem;
    height: 30rem;
  }
}

/**** Pagination ****/

.page-container{
  text-align: center;
}

.pagination {
  display: inline-block;
  padding-bottom: 10px;
}

.pagination a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color:#540606;;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #BA5000;
  color: white;
}

.pagination a:hover:not(.active) {color:#BA5000;}

/**** Footer BEGINS ****/

.footer {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #18181a;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .logo_container img {
  width: 175px;
  height: auto;
}

.inner_footer .footer_third {
  width: calc(21.6666666667% - 20px);
  margin-right: 20px;
  float: left;
  height:100%;
}

.inner_footer .footer_third: last-child {
  margin-right: 0;
}

.inner_footer .footer_third h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color:#ffffff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}

.inner_footer .footer_third li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 800px) {
  .footer .inner_footer {
    width: 90%;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 45px;
  }
} 

@media(max-width: 600px) {
  .footer .inner_footer {
    width: 90%;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 30px;
  }
}

/**** Footer ENDS ****/