@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');

/* Navbar */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 25px 0 black;
}

label.logo {
  line-height: 106px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #540606;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover {
  color: #BA5000;
}

.checkbtn {
  font-size: 30px;
  color: #540606;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px){
  label.logo{
    width: 40px;
    line-height: 105px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }

  a:hover,a.active {
    background: none;
    color:#BA5000;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* Home Page */

.home-heading {
  position: absolute;
  color: #ffffff;
  font-size: 550%;
  top: 68%;
  width: 100%;
  text-align: center;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}

.homepage {
  background: url('../img/work/48.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(100%) calc(100%); 
  height: 100vh; 
}

body, html {
  height: 100%;
  margin: 0;
  line-height: 180%;
  color: black;
}

.parallax1 {
  background: url('../img/work/131.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax2 {
background: url('../img/work/64.jpg');
min-height: 100vh;
background-size: cover;
background-position: center;
}

.parallax3 {
  background: url('../img/work/135.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax4 {
  background: url('../img/work/88.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax5 {
  background: url('../img/work/141.jpg');
  min-height: 60vh;
  background-size: cover;
  background-position: center;
}

.parallax6 {
  background: url('../img/work/51.jpg');
  min-height: 60vh;
  background-size: cover;
  background-position: center;
}

.parallax7 {
  background: url('../img/work/132.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax8 {
  background: url('../img/work/115.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax9 {
  background: url('../img/work/138.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax10 {
  background: url('../img/work/100.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax11 {
  background: url('../img/work/140.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax12 {
  background: url('../img/work/70.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6, .parallax7, .parallax8, .parallax9, .parallax10, .parallax11, .parallax12 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  color: #ffffff;
  font-size: 550%;
  top: 38%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}

.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #ffffff;
  font-size: 250%;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}

/* About */

.aboutpic {
  padding-top: 30px;
  width: 480px;
  height: 380px;
}

.aboutpictwo {
  width: 400px;
  height: 410px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.aboutpicthree {
  width: 500px;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.signature {
  margin-top: 50px;
  width: 300px;
}

.two-col {
  float: left;
  width: 50%;
  padding: 0 7%;
  text-align: left;
  font-family:'Open Sans', sans-serif;
  margin-top: 20px;
}

.two-col h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

section {
  overflow: auto;
  padding: 50px;
}

/* */

.dark {
  overflow: auto;
  padding: 45px 25px;
  font-family:'Open Sans', sans-serif;

}

.two-column {
  float: left;
  width: 50%;
  padding: 0 4%;
  text-align: left;
}

/**** Footer BEGINS ****/

.footer {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #18181a;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .logo_container img {
  width: 175px;
  height: auto;
}

.inner_footer .footer_third {
  width: calc(21.6666666667% - 20px);
  margin-right: 20px;
  float: left;
  height:100%;
}

.inner_footer .footer_third: last-child {
  margin-right: 0;
}

.inner_footer .footer_third h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color:#ffffff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}

.inner_footer .footer_third li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.footer-bottom {
  color: #ffffff;
  background-color:#18181a;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.footer-bottom, .footer-bottom:visited, .footer-bottom:hover, .footer-bottom:active {
  color: #BA5000;
}


@media(max-width: 800px) {
  .footer .inner_footer {
    width: 90%;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 45px;
  }
} 

@media(max-width: 600px) {
  .footer .inner_footer {
    width: 90%;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* iPad 1024 x 768 */

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

@media only screen and (max-width: 1025px) and (orientation: landscape) {

  .footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #18181a;
  }
  
  .inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
  }
  
.inner_footer .logo_container {
  padding-left: 10px;
  width: 30%;
  float: left;
  height: 100%;
  display: block;
  }
} 

/* Mobile */
/* Galaxy S9/S9+ 360 x 740 */
/* iPhone 6/7/8 375 x 667 */
/* iPhone 6+/7+/8+ 414 x 736 */
/* iPhone X/XS 375 x 812 */

@media only screen and (max-width: 812px) and (min-width: 360px) and (orientation: landscape) {

  .inner_footer .logo_container {
    padding-left: 20px;
    width: 30%;
    float: left;
    height: 100%;
    display: block;
    }

  .inner_footer .logo_container img {
    width: 100px;
    height: auto;
  }
  
  .inner_footer .footer_third {
    width: calc(25% - 10px);
    margin-right: 40px;
    float: left;
    height:100%;
    padding-left: 20px;
  }
  
  .inner_footer .footer_third: last-child {
    margin-right: 0;
  }

  .inner_footer .footer_third h1 {
    font-family: sans-serif;
    font-size: 18px;
    color:#ffffff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inner_footer .footer_third a {
    font-family: sans-serif;
    font-size: 13px;
    color: #ffffff;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
  }

  .inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 13px;;
    font-family: sans-serif;
  }

  .inner_footer .footer_third span {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
  }
} 

/**** Footer ENDS ****/
/**** About Media Queries BEGINS ****/

/* Mobile */
/* Galaxy S9/S9+ 360 x 740 */
/* iPhone 6/7/8 375 x 667 */
/* iPhone 6+/7+/8+ 414 x 736 */
/* iPhone X/XS 375 x 812 */

@media only screen and (max-width: 812px) and (min-width: 360px) {

  .homepage {
    background: url('../img/work/48.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .parallax1 {
    background: url('../img/work/131.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax2 {
  background: url('../img/work/64.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  }
  
  .parallax3 {
    background: url('../img/work/135.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax4 {
    background: url('../img/work/88.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax5 {
    background: url('../img/work/141.jpg');
    min-height: 60vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax6 {
    background: url('../img/work/51.jpg');
    min-height: 60vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax7 {
    background: url('../img/work/132.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax8 {
    background: url('../img/work/115.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax9 {
    background: url('../img/work/138.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax10 {
    background: url('../img/work/100.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax11 {
    background: url('../img/work/140.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax12 {
    background: url('../img/work/70.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6, .parallax7, .parallax8, .parallax9, .parallax10, .parallax11, .parallax12 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .two-column {
    width: 100%;
    padding: 0;
    display: inline-block;
    text-align: center;
  }
  .aboutpic {
    margin-top: 20px;
    width: 270px;
    height: 100%;
    text-align: center;
    padding-right: 5px;
  }

  .aboutpictwo {
    margin-top: 20px;
    width: 250px;
    height: 100%;
    text-align: center;
  }

  .aboutpicthree {
    width: 250px;
    height: 100%;
  }

  .signature {
    margin-top: 50px;
    width: 250px;
  }
}


/* iPad 1024 x 768 */

@media only screen and (max-width: 1025px) and (min-width: 900px) and (orientation: landscape) {

  .aboutpic {
    margin-top: 100px;
    width: 400px;
    height: 100%;
    text-align: center;
  }

  .aboutpictwo {
    margin-top: 100px;
    width: 400px;
    height: 100%;
    text-align: center;
  }

  .aboutpicthree {
    margin-top: 140px;
    width: 420px;
    height: 100%;
    text-align: center;
  }

  .signature {
    margin-top: 50px;
    width: 300px;
  }

  .parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6, .parallax7, .parallax8, .parallax9, .parallax10, .parallax11, .parallax12 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 900px) and (orientation: portrait) {

  .parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6, .parallax7, .parallax8, .parallax9, .parallax10, .parallax11, .parallax12 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


@media only screen and (max-width: 1025px) and (min-width: 900px) and (orientation: portrait) {
  
  .aboutpic {
    margin-top: 200px;
    width: 300px;
    height: 100%;
    text-align: center;
  }

  .aboutpictwo {
    margin-top: 300px;
    width: 300px;
    height: 100%;
    text-align: center;
  }

  .aboutpicthree {
    margin-top: 250px;
    width: 300px;
    height: 100%;
    text-align: center;
  }
}

/* Kindle Fire 1280 x 800 */

@media only screen and (min-width: 1200px) and (max-width: 1300px) and (orientation: landscape) {
  
  .aboutpic {
    margin-top: 50px;
    width: 400px;
    height: 100%;
    text-align: center;
  }

  .aboutpictwo {
    margin-top: 10px;
    width: 400px;
    height: 100%;
    text-align: center;
  }

  .aboutpicthree {
    margin-top: 70px;
    width: 420px;
    height: 100%;
    text-align: center;
  }

  .signature {
    margin-top: 50px;
    width: 300px;
  }
}

/* About Media Queries ENDS */